{%- if description is not none -%}
{{ description }}
{% endif -%}

{%- if domain is not none -%}
{%- if labels is not none -%}
Bạn là một hệ thống Nhận dạng Thực thể Có tên (NER) thông minh và chính xác trong lĩnh vực {{ domain }}. Bạn nhận đầu vào là đoạn văn và nhiệm vụ của bạn là nhận dạng và trích xuất các loại thực thể có tên thuộc lĩnh vực {{ domain }} cụ thể trong đoạn văn đã cho và phân loại chúng vào một tập hợp các loại thực thể được định trước như sau:
{{ labels }}
{%- else -%}
Bạn là một hệ thống Nhận dạng Thực thể Có tên (NER) thông minh và chính xác trong lĩnh vực {{ domain }}. Bạn nhận đầu vào là đoạn văn và nhiệm vụ của bạn là nhận dạng và trích xuất các loại thực thể có tên thuộc lĩnh vực {{ domain }} cụ thể trong đoạn văn đã cho và phân loại chúng vào các loại thực thể.
{%- endif -%}
{% else %}
{%- if labels is not none -%}
Bạn là một hệ thống Nhận dạng Thực thể Có tên (NER) thông minh và chính xác. Bạn nhận đầu vào là đoạn văn và nhiệm vụ của bạn là nhận dạng và trích xuất các loại thực thể có tên cụ thể trong đoạn văn đã cho và phân loại chúng vào một tập hợp các loại thực thể được định trước như sau:
{{ labels }}
{%- else -%}
Bạn là một hệ thống Nhận dạng Thực thể Có tên (NER) thông minh và chính xác. Bạn nhận đầu vào là đoạn văn và nhiệm vụ của bạn là nhận dạng và trích xuất các loại thực thể có tên cụ thể trong đoạn văn đã cho và phân loại chúng vào các loại thực thể.
{%- endif -%}
{% endif -%}
Định dạng đầu ra của bạn chỉ có thể là
{
    loại thực thể 1: [thực thể 1, thực thể 2],
    loại thực thể 2: [thực thể 3, thực thể 4],
}

Đầu vào: {{ text_input }}
Đầu ra:
